<h1>Profiles</h1>

<app-login-or-register></app-login-or-register>

<input type="text" [(ngModel)]="query" (input)="search()" placeholder="search" />

<ul *ngIf="loaded; else loading">
  <ng-template [ngIf]="profiles?.length > 0" [ngIfElse]="empty">
    <li *ngFor="let profile of profiles">{{profile.name}}</li>
  </ng-template>
</ul>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>

<ng-template #empty>
  <li>Nothing found...</li>
</ng-template>
