<p *ngIf="isLinks">
  <ng-template [ngIf]="!username" [ngIfElse]="user">
    <a routerLink="login">login</a> | <a routerLink="register">register</a>
  </ng-template>
</p>

<p *ngIf="isLogin || isRegister">
  <input *ngIf="isRegister" type="text" placeholder="name" [(ngModel)]="name" /><br *ngIf="isRegister" />
  <input type="text" placeholder="login" [(ngModel)]="login" /><br />
  <input type="password" placeholder="password" [(ngModel)]="password" /><br />
  <button type="submit" [disabled]="loading" (click)="isLogin ? signin() : signup()" >sign {{isLogin ? 'in' : 'up'}}</button>&nbsp;<a routerLink="/">back</a>
</p>

<ng-template #user>
  {{username}} | <a routerLink="/" (click)="logout()">logout</a>
</ng-template>
